body {
  font-family: "Poppins", sans-serif;
}
.container {
  margin-top: 80px;
}
.top-navbar {
  background-color: #f0fff0;
  padding: 20px 200px 0px 360px;
}

.nav-item {
  padding-right: 20px;
}
.nav-link {
  color: red;
}
.e-school-logo {
  width: 200px;
}

.btn-success {
  width: 100px;
  border-radius: 40px;
}

.schedule {
  color: #21b573;
  font-weight: 900;
}
.ready {
  color: orange;
  padding: 20px 0px;
}
.learn {
  color: darkgray;
  padding-right: 65px;
  padding: 20px 0px;
}
.header {
  background-color: #f0fff0;
  width: 100%;
  height: 900px;
  padding: 200px;
}
.card {
  background-color: #f8fffb;
  border-style: none;
  border-radius: 20px;
}

.card-img-top {
  width: 55px;
  align-self: center;
  padding-top: 40px;
}
.card-body {
  text-align: center;
}
.card-img-courses {
  width: 300px;
  align-self: center;
  padding-top: 40px;
}

.courses-card {
  box-shadow: 5px 5px 10px lightgrey;
  background-color: white;
}
.card-footer {
  text-align: center;
  border-style: none;
  border-color: white;
}
.card-footer-img {
  width: 20px;
}
.card-body-footer {
  text-align: left;
}
.card-footer-2 {
  padding-left: 30px;
}
.btn-footer {
  margin-top: 25px;
  width: 45%;
}
.testimonial-container {
  margin-bottom: 100px;
}
.online-courses-text {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  padding-bottom: 40px;
}
.testimonial-img {
  width: 100px;
  margin-left: 100px;
}
.footer-text {
  text-align: center;
  font-size: 12px;
  color: white;
  background-color: black;
  padding-bottom: 20px;
}
.courses-summery {
  background-color: black;
  color: white;
  padding-left: 300px;
  padding-top: 40px;
  font-size: 12px;
}

.list-courses {
  list-style-type: none;
}

.course-item-text {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
}

.card-hov:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 10px lightgrey;
  background-color: white;
}
.img-img {
}
